@import "bootstrap/dist/css/bootstrap.min.css";
/* @import "echochamber.css"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.custom-navbar {
    --bs-navbar-color: #000000 !important;
}

.custom-navbar a {
    color: #FFFFFF !important;
}

.custom-navbar a:hover, .custom-navbar a.active {
    color: #FFD700 !important;
}
